@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  transition-duration: 0.5s;
}
button:active {
  box-shadow: 0 0 2px #6c6c6c !important;
  transform: translateY(2px);
}

ul {
  list-style: none;
}

html {
  margin-left: calc(100vw - 100%);
}

body {
  margin-left: auto;
  margin-right: auto;
  background-color: #7d7d7d;
  font-size: 19px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #6c6c6c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(#6c6c6c, #7d7d7d, #6c6c6c);
  border: 2px solid #7d7d7d;
}

.footerSlide::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
  border: none;
  background-image: none;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  max-width: 900px;
  min-height: 100vh;
  background-color: #bfbfbf;
  color: black;
  box-shadow: 10px 0 10px rgb(88, 88, 88), -10px 0 10px rgb(88, 88, 88);
}
.wrapper .header {
  background-image: linear-gradient(rgb(255, 161, 61), #e07300, #af5a00);
  padding-top: 25px;
  margin-bottom: 13px;
}
.wrapper .header svg {
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-bottom: -5px;
}
.wrapper h1 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 29px;
  text-shadow: 1px 1px 0 #6c6c6c, 2px 2px 0 #6c6c6c, 3px 3px 0 #6c6c6c, 4px 4px 0 #6c6c6c, 5px 5px 0 #6c6c6c;
}
.wrapper .messageCentre {
  font-size: 19px;
  line-height: 21px;
  height: 21px;
  text-align: center;
  margin-top: 7px;
  color: #03536d;
  font-weight: bold;
}
.wrapper .addNew {
  width: 35%;
  max-width: 110px;
  background-image: linear-gradient(#3196b8, #03536d, #03536d, #03536d);
  color: white;
  padding: 3px 2px;
  margin: 3px auto;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25), 0 4px 0 #bfbfbf, 0 4px 6px rgba(0, 0, 0, 0.45);
  border: none;
  font-weight: 500;
}
.wrapper .addNew:hover {
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  transform: translateY(4px);
}
.wrapper .fuelBtn {
  margin: 5px auto;
  border: none;
  text-decoration: underline;
  margin-bottom: 7px;
  background-color: #bfbfbf;
  font-weight: bold;
  font-size: 17px;
  padding: 3px 5px;
  border-radius: 5px;
  color: #03536d;
}
.wrapper .fuelBtn:hover {
  letter-spacing: 5px;
}
.wrapper .fuelBtn:focus {
  outline: 1px solid #03536d;
}
.wrapper .fuel-guide,
.wrapper .alert {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  font-size: 17px;
}
.wrapper .fuel-guide .ul-row,
.wrapper .alert .ul-row {
  display: flex;
  flex-direction: column;
}
.wrapper .fuel-guide .ul-row ul,
.wrapper .alert .ul-row ul {
  margin: auto;
}
.wrapper .fuel-guide p,
.wrapper .alert p {
  text-align: center;
  padding-top: 7px;
}
.wrapper .fuel-guide h2,
.wrapper .alert h2 {
  text-align: center;
  margin: 5px 0;
  font-size: 19px;
}
.wrapper .fuel-guide h3,
.wrapper .alert h3 {
  text-align: center;
  margin: 5px 0;
  font-size: 18px;
}
.wrapper .fuel-guide ul.cir,
.wrapper .alert ul.cir {
  list-style-type: circle;
  padding-left: 35px;
  background-color: rgba(255, 161, 61, 0.3);
  border-radius: 5px;
}
.wrapper .fuel-guide li,
.wrapper .alert li {
  font-size: 16px;
}
.wrapper .raceSplits {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
}
.wrapper .raceSplits .splitbtns {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
}
.wrapper .raceSplits .splitbtns .tab {
  line-height: 23px;
  border: 2px solid #03536d;
  width: 19%;
  max-width: 70px;
  height: auto;
  margin: 6px 5px;
  color: white;
  font-size: 19px;
  background-color: #6c6c6c;
  background-image: linear-gradient(#03536d, #6c6c6c);
  border-radius: 5px;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25), 0 4px 0 #03536d, 0 4px 6px rgba(0, 0, 0, 0.45);
}
.wrapper .raceSplits .splitbtns .tab:focus {
  background-color: #ff890d;
  background-image: linear-gradient(rgb(255, 161, 61), #bfbfbf);
  color: #000;
  border: 2px solid #bfbfbf;
  outline: 1px solid white;
}
.wrapper .raceSplits .splitbtns .tab:hover {
  background-color: #0f87af;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  transform: translateY(4px);
}
.wrapper .raceSplits .splitbtns .plus {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background-color: #03536d;
  vertical-align: middle;
  border: none;
  font-size: 27px;
  line-height: 27px;
  border: none;
  padding: 0;
  margin: 3px;
  color: #fff;
  box-shadow: 3px 3px 3px 0px rgb(144, 144, 144);
}
.wrapper .raceSplits .splitbtns .plus:hover {
  background-color: #fff;
  color: #e07300;
}
.wrapper .raceSplits .sm-splitbtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.wrapper .raceSplits .sm-splitbtns .split {
  background-color: #e07300;
  background-image: linear-gradient(#e07300, #af5a00);
  width: 80%;
  padding: 2px 8px;
  color: #fff;
  font-size: 19px;
  border-radius: 5px;
  margin: 3px 0 7px 0;
  border: none;
  box-shadow: 5px 5px 5px 0px rgb(144, 144, 144);
}
.wrapper .raceSplits .sm-splitbtns .split:hover {
  background-color: #fff;
  color: #e07300;
}
.wrapper .raceSplits .sm-splitbtns .split:focus {
  color: #fff;
}
.wrapper .footer {
  margin: auto 0 0 0;
  color: whitesmoke;
  background-color: #6c6c6c;
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 17px;
  border: none;
}
.wrapper .footer .footericons {
  width: 17px;
  height: 17px;
  margin: 0 2px -2px 2px;
  color: #fff;
  background-color: #6c6c6c;
}
.wrapper .footer h2 {
  color: #fff;
  text-align: center;
  margin: 0 15px 15px 15px;
  text-shadow: -2px -2px #03536d;
}
.wrapper .footer .last {
  text-align: center;
}
.wrapper .footer svg {
  transition: all 500ms ease;
  background-color: #bfbfbf;
  width: 100%;
  height: 70px;
  border: none;
}
.wrapper .footer h2 ~ p {
  margin: 5px 23px;
}
.wrapper .footer a,
.wrapper .footer label,
.wrapper .footer button,
.wrapper .footer a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.wrapper .footer a:hover,
.wrapper .footer label:hover,
.wrapper .footer button:hover,
.wrapper .footer a:visited:hover {
  text-decoration: underline;
}
.wrapper .footer a:active,
.wrapper .footer label:active,
.wrapper .footer button:active,
.wrapper .footer a:visited:active {
  color: #fff;
}
.wrapper .footer button {
  background-color: #6c6c6c;
  border: none;
  font-size: inherit;
}
.wrapper .footer #toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}
.wrapper .footer input {
  margin-bottom: -10px;
}
.wrapper .footer .footerSlide {
  margin-top: 0;
  width: 100%;
  background-color: #6c6c6c;
  transition: height 0.3s ease;
  height: 0;
  overflow: hidden;
}
.wrapper .footer .footerSlide p {
  margin: 23px;
}
.wrapper .footer .footerSlide > p {
  margin-top: 5px;
}
.wrapper .footer .footerSlide p:last-child {
  margin-bottom: 5px;
}
.wrapper .footer input:checked ~ .footerSlide {
  height: 150px;
  overflow-y: visible;
}
.wrapper .chart {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  width: 95%;
  max-width: 680px;
  -webkit-animation: fade 0.5s linear forwards;
          animation: fade 0.5s linear forwards;
}
.wrapper .chart fieldset {
  border: none;
}
.wrapper .chart select {
  border: none;
  margin-right: 5px;
  margin-left: 5px;
  background-color: rgba(255, 161, 61, 0.3);
}
.wrapper .chart > div {
  border-radius: 0 0 5px 5px;
  width: 100%;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.wrapper .chart .row,
.wrapper .chart .drops {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.wrapper .chart .row:last-child,
.wrapper .chart .drops:last-child {
  padding-bottom: 7px;
}
.wrapper .chart .row ::-webkit-scrollbar-thumb,
.wrapper .chart .drops ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: none;
  background-color: #af5a00;
  border: none;
}
.wrapper .chart .drops {
  margin-top: 5px;
}
.wrapper .chart .block {
  display: flex;
  flex-direction: column;
}
.wrapper .chart .block.buttons {
  flex-direction: row;
}
.wrapper .chart h2 {
  text-align: center;
  font-size: 17px;
}
.wrapper .chart ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.wrapper .chart li {
  line-height: 33px;
}
.wrapper .chart li button {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background-color: #03536d;
  vertical-align: middle;
  border: none;
  font-size: 27px;
  line-height: 27px;
  border: none;
  padding: 0;
  margin: 3px;
  color: #fff;
  box-shadow: 3px 3px 3px 0px rgb(144, 144, 144);
  font-size: 21px;
  line-height: 21px;
  width: 21px;
  height: 21px;
}
.wrapper .chart li button:hover {
  background-color: #fff;
  color: #e07300;
}
.wrapper .chart .food-edit {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.wrapper .chart .food-edit > h2 {
  background-color: rgb(255, 161, 61);
}
.wrapper .chart .food-edit ul {
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.wrapper .chart .food-edit ul li {
  text-align: center;
}
.wrapper .chart .food-edit ul li:nth-of-type(2n-2) {
  background-color: rgba(255, 161, 61, 0.3);
}
.wrapper .chart .sm-AddFuel {
  font-size: 17px;
}
.wrapper .chart .last {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.wrapper .chart .last > button {
  border: none;
  text-transform: uppercase;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  background-image: linear-gradient(#fff, #fff, rgb(194, 194, 194));
  color: #03536d;
  font-weight: 700;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25), 0 4px 0 #bfbfbf, 0 4px 6px rgba(0, 0, 0, 0.45);
  padding: 2px 7px;
  margin: auto;
}
.wrapper .chart .last > button:hover {
  color: rgb(62, 62, 62);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  transform: translateY(4px);
}
.wrapper .chartmobile,
.wrapper .edit {
  max-width: 550px;
  display: flex;
  justify-content: center;
  border-radius: 0 0 5px 5px;
  margin-bottom: 13px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
}
.wrapper .chartmobile p,
.wrapper .edit p {
  font-size: 15px;
}
.wrapper .chartmobile span,
.wrapper .edit span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .chartmobile span button,
.wrapper .edit span button {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background-color: #03536d;
  vertical-align: middle;
  border: none;
  font-size: 27px;
  line-height: 27px;
  border: none;
  padding: 0;
  margin: 3px;
  color: #fff;
  box-shadow: 3px 3px 3px 0px rgb(144, 144, 144);
  height: 21px;
  width: 21px;
  font-size: 21px;
  line-height: 21px;
}
.wrapper .chartmobile span button:hover,
.wrapper .edit span button:hover {
  background-color: #fff;
  color: #e07300;
}
.wrapper .chartmobile .top-row,
.wrapper .edit .top-row {
  width: 100%;
  margin-top: 0;
  text-align: center;
  background-color: rgb(255, 161, 61);
  box-shadow: 0 3px 3px rgb(88, 88, 89);
}
.wrapper .chartmobile .row,
.wrapper .edit .row {
  display: flex;
  font-size: 17px;
}
.wrapper .chartmobile .row .block,
.wrapper .edit .row .block {
  justify-content: center;
  align-items: center;
  width: 30%;
  height: auto;
  margin: 2px;
}
.wrapper .chartmobile .row .block > button,
.wrapper .edit .row .block > button {
  border: none;
  text-transform: uppercase;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  background-image: linear-gradient(#fff, #fff, rgb(194, 194, 194));
  color: #03536d;
  font-weight: 700;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25), 0 4px 0 #bfbfbf, 0 4px 6px rgba(0, 0, 0, 0.45);
  padding: 3px 7px;
}
.wrapper .chartmobile .row .block > button:hover,
.wrapper .edit .row .block > button:hover {
  color: rgb(62, 62, 62);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  transform: translateY(4px);
}
.wrapper .chartmobile .row .block > button:hover,
.wrapper .edit .row .block > button:hover {
  color: rgb(62, 62, 62);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  transform: translateY(4px);
}
.wrapper .chartmobile .row .block > button:focus,
.wrapper .edit .row .block > button:focus {
  color: #fff;
  background-image: linear-gradient(#3196b8, #03536d);
}
.wrapper .chartmobile .row .block h2,
.wrapper .edit .row .block h2 {
  width: 100%;
}
.wrapper .chartmobile .row .block-food,
.wrapper .edit .row .block-food {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.wrapper .chartmobile .row .block-food h2,
.wrapper .edit .row .block-food h2 {
  background-color: rgba(255, 161, 61, 0.3);
}
.wrapper .chartmobile .row .block-food ul,
.wrapper .edit .row .block-food ul {
  margin-top: -5px;
  border-bottom: 2px solid rgba(255, 161, 61, 0.3);
}
.wrapper .chartmobile .row .block-food li,
.wrapper .edit .row .block-food li {
  display: flex;
  flex-direction: row;
  height: auto;
  margin: 2px 3px;
  line-height: 27px;
}
.wrapper .chartmobile .row .block-food li button,
.wrapper .edit .row .block-food li button {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background-color: #03536d;
  vertical-align: middle;
  border: none;
  font-size: 27px;
  line-height: 27px;
  border: none;
  padding: 0;
  margin: 3px;
  color: #fff;
  box-shadow: 3px 3px 3px 0px rgb(144, 144, 144);
  line-height: 21px;
  font-size: 21px;
  height: 21px;
  width: 21px;
}
.wrapper .chartmobile .row .block-food li button:hover,
.wrapper .edit .row .block-food li button:hover {
  background-color: #fff;
  color: #e07300;
}
.wrapper .lg-AddFuel {
  display: none;
  font-size: 16px;
}
.wrapper .lg-AddFuel select {
  font-size: 16px;
}
.wrapper .lg-AddFuel .block {
  margin-left: 5px;
  margin-right: 7px;
}
.wrapper .chartdesktop {
  display: none;
  max-width: 880px;
  margin-top: 5px;
  margin-bottom: 17px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
}
.wrapper .chartdesktop .row:nth-of-type(1) {
  background-color: rgb(255, 161, 61);
  box-shadow: 0 3px 3px rgb(88, 88, 89);
}
.wrapper .chartdesktop .row:nth-of-type(3) {
  margin-bottom: 7px;
  margin-top: -2px;
}
.wrapper .chartdesktop .row .block {
  margin: 5px;
  width: 20%;
}
.wrapper .chartdesktop .row .block button {
  border: none;
  text-transform: uppercase;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  background-image: linear-gradient(#fff, #fff, rgb(194, 194, 194));
  color: #03536d;
  font-weight: 700;
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25), 0 4px 0 #bfbfbf, 0 4px 6px rgba(0, 0, 0, 0.45);
  padding: 2px;
}
.wrapper .chartdesktop .row .block button:hover {
  color: rgb(62, 62, 62);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  transform: translateY(4px);
}
.wrapper .chartdesktop .row .block button:active {
  color: #03536d;
}
.wrapper .chartdesktop .row .block .time {
  background-color: #3196b8;
  color: #000;
  font-size: 16px;
  line-height: 16px;
  margin-top: 2px;
  padding: 3px;
  border-radius: 5px;
  width: 100%;
}
.wrapper .chartdesktop .row .block h2 {
  text-align: center;
}
.wrapper .chartdesktop .row .block p {
  font-size: 17px;
  text-align: center;
}
.wrapper .chartdesktop .row .block-food {
  width: 100%;
  margin-top: 11px;
  margin-bottom: 7px;
  border-bottom: 2px solid #e07300;
}
.wrapper .chartdesktop .row .block-food ul {
  font-size: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.wrapper .chartdesktop .row .block-food li {
  margin: 1px 5px;
}

@media screen and (prefers-reduced-motion: reduce) {
  body {
    -webkit-animation: none;
            animation: none;
  }
}
@media screen and (min-width: 450px) {
  .wrapper .fuel-guide .ul-row {
    flex-direction: row;
  }
  .wrapper .row p,
.wrapper .row li {
    font-size: 17px;
  }
  .wrapper .raceSplits .sm-splitbtns {
    display: none;
  }
  .wrapper .raceSplits .splitbtns {
    display: flex;
  }
  .wrapper .raceSplits .splitbtns .tab {
    height: auto;
    max-width: 70px;
  }
  .wrapper .chart {
    margin-top: 0;
  }
}
@media screen and (min-width: 530px) {
  .wrapper .sm-AddFuel,
.wrapper .chartmobile {
    display: none;
  }
  .wrapper .chartdesktop,
.wrapper .lg-AddFuel {
    display: flex;
  }
}
@media (max-width: 659px) {
  .svg--lg {
    display: none;
  }
}
@media screen and (min-width: 660px) {
  .wrapper .svg--sm {
    display: none;
  }
  .wrapper .raceSplits .splitbtns .tab {
    font-size: 18px;
    max-width: 125px;
  }
  .wrapper .row .block span,
.wrapper .row .block h2,
.wrapper .row .block .time,
.wrapper .row .block-food span,
.wrapper .row .block-food h2,
.wrapper .row .block-food .time,
.wrapper .chartrow .block span,
.wrapper .chartrow .block h2,
.wrapper .chartrow .block .time,
.wrapper .chartrow .block-food span,
.wrapper .chartrow .block-food h2,
.wrapper .chartrow .block-food .time {
    font-size: 21px;
  }
  .wrapper .row .block .time,
.wrapper .row .block-food .time,
.wrapper .chartrow .block .time,
.wrapper .chartrow .block-food .time {
    line-height: 21px;
  }
  .wrapper .row .block p,
.wrapper .row .block li,
.wrapper .row .block-food p,
.wrapper .row .block-food li,
.wrapper .chartrow .block p,
.wrapper .chartrow .block li,
.wrapper .chartrow .block-food p,
.wrapper .chartrow .block-food li {
    font-size: 19px;
  }
}/*# sourceMappingURL=style.css.map */