* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  transition-duration: 0.5s;
}
button:active {
  box-shadow: 0 0 2px #6c6c6c !important;
  transform: translateY(2px);
}

ul {
  list-style: none;
}

html {
  margin-left: calc(100vw - 100%);
}

body {
  margin-left: auto;
  margin-right: auto;
  background-color: #7d7d7d;
  font-size: 19px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #6c6c6c;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #6c6c6c;
}

.footerSlide::-webkit-scrollbar-thumb {
  background-color: #bfbfbf;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  max-width: 900px;
  min-height: 100vh;
  background-color: #bfbfbf;
  color: black;
  box-shadow: 10px 0 10px rgb(88, 88, 88), -10px 0 10px rgb(88, 88, 88);
}
.wrapper .header {
  background-image: linear-gradient(rgb(255, 161, 61), #e07300, #af5a00);
  padding-top: 25px;
  margin-bottom: 13px;
}
.wrapper .header svg {
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-bottom: -5px;
}
.wrapper h1 {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 29px;
  text-shadow: 1px 1px 0 #6c6c6c, 2px 2px 0 #6c6c6c, 3px 3px 0 #6c6c6c, 4px 4px 0 #6c6c6c, 5px 5px 0 #6c6c6c;
}
.wrapper .messageCentre {
  font-size: 19px;
  line-height: 21px;
  height: 21px;
  text-align: center;
  margin-top: 7px;
  color: #0f87af;
  font-weight: bold;
}
.wrapper .addNew {
  width: 35%;
  max-width: 110px;
  background-color: #03536d;
  background-image: linear-gradient(#3196b8, #03536d, #03536d, #03536d);
  color: white;
  padding: 3px 2px;
  margin: 3px auto;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgb(144, 144, 144);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25), 0 4px 0 #3196b8, 0 4px 6px rgba(0, 0, 0, 0.45);
  border: none;
  font-weight: 500;
}
.wrapper .addNew:hover {
  color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  transform: translateY(4px);
}
.wrapper .fuelBtn {
  margin: 5px auto;
  border: none;
  text-decoration: underline;
  margin-bottom: 7px;
  background-color: #bfbfbf;
  font-weight: bold;
  font-size: 17px;
  padding: 3px 5px;
  border-radius: 5px;
  color: #03536d;
}
.wrapper .fuelBtn:hover {
  letter-spacing: 5px;
}
.wrapper .fuelBtn:focus {
  outline: 1px solid #03536d;
}
.wrapper .fuel-guide {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  font-size: 17px;
}
.wrapper .fuel-guide .ul-row {
  display: flex;
  flex-direction: column;
}
.wrapper .fuel-guide .ul-row ul {
  margin: auto;
}
.wrapper .fuel-guide p {
  text-align: center;
  padding-top: 7px;
}
.wrapper .fuel-guide h2 {
  text-align: center;
  font-size: 19px;
}
.wrapper .fuel-guide h3 {
  text-align: center;
  font-size: 18px;
}
.wrapper .fuel-guide ul.cir {
  list-style-type: circle;
  padding-left: 35px;
  background-color: rgba(255, 161, 61, 0.3);
  border-radius: 5px;
}
.wrapper .fuel-guide li {
  line-height: 23px;
}
.wrapper .raceSplits {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
}
.wrapper .raceSplits .hourbtns {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
}
.wrapper .raceSplits .hourbtns .tab {
  line-height: 23px;
  border: 2px solid #03536d;
  width: 19%;
  max-width: 70px;
  height: auto;
  margin: 6px 5px;
  color: white;
  font-size: 19px;
  background-color: #6c6c6c;
  background-image: linear-gradient(#03536d, #6c6c6c);
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgb(144, 144, 144);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25), 0 4px 0 #03536d, 0 4px 6px rgba(0, 0, 0, 0.45);
}
.wrapper .raceSplits .hourbtns .tab:focus {
  background-color: #ff890d;
  background-image: linear-gradient(rgb(255, 161, 61), #bfbfbf);
  color: #000;
  border: 3px solid #fff;
  border: 2px solid #bfbfbf;
  outline: 1px solid white;
}
.wrapper .raceSplits .hourbtns .tab:hover {
  background-color: #0f87af;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
  transform: translateY(4px);
}
.wrapper .raceSplits .hourbtns .plus {
  height: 27px;
  width: 27px;
  border-radius: 50%;
  background-color: #03536d;
  vertical-align: middle;
  border: none;
  font-size: 27px;
  line-height: 27px;
  border: none;
  padding: 0;
  margin: 3px;
  color: #fff;
  box-shadow: 3px 3px 3px 0px rgb(144, 144, 144);
}
.wrapper .raceSplits .hourbtns .plus:hover {
  background-color: #fff;
  color: #e07300;
}
.wrapper .raceSplits .plusWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
.wrapper .raceSplits .plusWrap .plus {
  background-color: #e07300;
  background-image: linear-gradient(#e07300, #af5a00);
  width: 80%;
  padding: 2px 8px;
  color: #fff;
  font-size: 19px;
  border-radius: 5px;
  margin: 3px 0 7px 0;
  border: none;
  box-shadow: 5px 5px 5px 0px rgb(144, 144, 144);
}
.wrapper .raceSplits .plusWrap .plus:hover {
  background-color: #fff;
  color: #e07300;
}
.wrapper footer {
  margin: auto 0 0 0;
  color: whitesmoke;
  background-color: #6c6c6c;
  padding-bottom: 15px;
  font-size: 15px;
  line-height: 17px;
  border: none;
}
.wrapper footer .footericons {
  width: 17px;
  height: 17px;
  margin: 0 2px -2px 2px;
  color: #fff;
  background-color: #6c6c6c;
}
.wrapper footer h2 {
  color: #fff;
  text-align: center;
  margin: 0 15px 15px 15px;
  text-shadow: -2px -2px #03536d;
}
.wrapper footer .last {
  text-align: center;
}
.wrapper footer svg {
  transition: all 500ms ease;
  background-color: #bfbfbf;
  width: 100%;
  height: 70px;
  border: none;
}
.wrapper footer h2 ~ p {
  margin: 5px 23px;
}
.wrapper footer a,
.wrapper footer label,
.wrapper footer button,
.wrapper footer a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.wrapper footer a:hover,
.wrapper footer label:hover,
.wrapper footer button:hover,
.wrapper footer a:visited:hover {
  text-decoration: underline;
}
.wrapper footer a:active,
.wrapper footer label:active,
.wrapper footer button:active,
.wrapper footer a:visited:active {
  color: #fff;
}
.wrapper footer button {
  background-color: #6c6c6c;
  border: none;
  font-size: inherit;
}
.wrapper footer #toggle {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: none;
}
.wrapper footer input {
  margin-bottom: -10px;
}
.wrapper .footerSlide {
  margin-top: 0;
  width: 100%;
  background-color: #6c6c6c;
  transition: height 0.3s ease;
  height: 0;
  overflow: hidden;
}
.wrapper .footerSlide p {
  margin: 23px;
}
.wrapper .footerSlide > p {
  margin-top: 5px;
}
.wrapper .footerSlide p:last-child {
  margin-bottom: 5px;
}

input:checked ~ .footerSlide {
  height: 150px;
  overflow-y: visible;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.chart,
.mobile,
.desktop,
.edit-mobile {
  -webkit-animation: fade 0.5s linear forwards;
          animation: fade 0.5s linear forwards;
}

@media screen and (prefers-reduced-motion: reduce) {
  body {
    -webkit-animation: none;
            animation: none;
  }
}
@media screen and (min-width: 450px) {
  .wrapper .fuel-guide .ul-row {
    flex-direction: row;
  }
  .wrapper .row,
.wrapper .chartrow {
    display: flex;
  }
  .wrapper .row h2,
.wrapper .chartrow h2 {
    font-size: 19px;
  }
  .wrapper .row p,
.wrapper .chartrow p {
    font-size: 19px;
  }
  .wrapper .raceSplits .plusWrap {
    display: none;
  }
  .wrapper .raceSplits .hourbtns {
    display: flex;
  }
  .wrapper .raceSplits .hourbtns .tab {
    height: auto;
    max-width: 70px;
  }
  .wrapper .chart {
    margin-top: 0;
  }
  .wrapper .chart .last {
    display: flex;
  }
  .wrapper .chart .drops {
    display: flex;
  }
}
@media screen and (min-width: 530px) {
  .wrapper .m-add {
    display: none;
  }
  .wrapper .mobile {
    display: none;
  }
  .wrapper .desktop {
    width: 100%;
    max-width: 880px;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 659px) {
  .svg--lg {
    display: none;
  }
}
@media screen and (min-width: 660px) {
  .wrapper .svg--sm {
    display: none;
  }
  .wrapper .raceSplits .hourbtns .tab {
    font-size: 18px;
    max-width: 125px;
  }
  .wrapper .edit-mobile .m-row,
.wrapper .edit-mobile h2 {
    font-size: 19px;
  }
  .wrapper .edit-mobile .m-row .m-block,
.wrapper .edit-mobile .m-row p,
.wrapper .edit-mobile h2 .m-block,
.wrapper .edit-mobile h2 p {
    font-size: 17px;
  }
  .wrapper .row .blocks span,
.wrapper .row .blocks h2,
.wrapper .row .blocks .time,
.wrapper .chartrow .blocks span,
.wrapper .chartrow .blocks h2,
.wrapper .chartrow .blocks .time {
    font-size: 21px;
  }
  .wrapper .row .blocks .time,
.wrapper .chartrow .blocks .time {
    line-height: 21px;
  }
  .wrapper .row .blocks p,
.wrapper .row .blocks li,
.wrapper .chartrow .blocks p,
.wrapper .chartrow .blocks li {
    font-size: 19px;
  }
}/*# sourceMappingURL=style.css.map */